{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/room.css' %}"/>
</head>
<body>
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt=""/>
                <p>{{ case.judge | capfirst }}</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span>
                            <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span>
                            <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span>
                            <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span>
                            <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross"/>
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81"/>
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross"/>
                </div>
            </div>
        </div>
        <div id="search">

        </div>
        <div id="contacts">
            <ul>
                <li class="contact
                        {% with uid=case.registered_by.id|stringformat:"i" %}
                         {% if userId == uid %} active
                        {% endif %}
                        {% endwith %}  ">
                    <div class="wrap">
                        <span class="contact-status
                        {% with uid=case.registered_by.id|stringformat:"i" %}
                         {% if userId == uid %} online
                        {% endif %}
                        {% endwith %}  ">
                        </span>
                        <img src="http://emilcarlsson.se/assets/louislitt.png" alt=""/>
                        <div class="meta">
                            <p class="name">{{ case.registered_by.username | capfirst }}</p>
                            <p class="preview">Plaintiff</p>
                        </div>
                    </div>
                </li>
                <li class="contact  {% with uid=case.defendent.id|stringformat:"i" %}
                         {% if userId == uid %} active
                        {% endif %}
                        {% endwith %}  ">
                    <div class="wrap">
                        <span class="contact-status
                        {% with uid=case.defendent.id|stringformat:"i" %}
                         {% if userId == uid %} online
                        {% endif %}
                        {% endwith %}  "></span>
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                        <div class="meta">
                            <p class="name">{{ case.defendent.username | capfirst }}</p>
                            <p class="preview">Defendant</p>
                        </div>
                    </div>
                </li>

                <h6>Lawyers</h6>
                <li class="contact  {% with uid=case.first_lawyer.id|stringformat:"i" %}
                         {% if userId == uid %} active
                        {% endif %}
                        {% endwith %}  ">
                    <div class="wrap">
                        <span class="contact-status
                        {% with uid=case.first_lawyer.id|stringformat:"i" %}
                         {% if userId == uid %} online
                        {% endif %}
                        {% endwith %}  ">

                        </span>
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                        <div class="meta">
                            <p class="name">{{ case.first_lawyer.username | capfirst }}</p>
                            <p class="preview">Plaintiff Lawyer</p>
                        </div>
                    </div>
                </li>
                <li class="contact  {% with uid=case.second_lawyer.id|stringformat:"i" %}
                         {% if userId == uid %} active
                        {% endif %}
                        {% endwith %}  ">
                    <div class="wrap">
                        <span class="contact-status
                        {% with uid=case.second_lawyer.id|stringformat:"i" %}
                         {% if userId == uid %} online
                        {% endif %}
                        {% endwith %}  "></span>
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                        <div class="meta">
                            <p class="name">{{ case.second_lawyer.username | capfirst }}</p>
                            <p class="preview">Defendant Lawyer</p>
                        </div>
                    </div>
                </li>

                <h6>Witnesses</h6>

                {% for witness in case.witness.all %}
                    <li class="contact  {% with uid=case.witness.id|stringformat:"i" %}
                         {% if userId == uid %} active
                        {% endif %}
                        {% endwith %}  ">
                        <div class="wrap">
                        <span class="contact-status
                        {% with uid=case.witness.id|stringformat:"i" %}
                         {% if userId == uid %} online
                        {% endif %}
                        {% endwith %}  "></span>
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                            <div class="meta">
                                <p class="name">{{ witness.username | capfirst }}</p>
                                <p class="preview">Witness</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}


            </ul>
        </div>
        <div id="bottom-bar">
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
            <p>{{ user.username }}</p>
            <div class="social-media">
                {% if user.user_type == "Judge" %}
                    <a href="{% url 'case_update' pk=case.id %}" class="btn btn-secondary mx-3">end session</a>
                {% endif %}
            </div>
        </div>
        <div class="messages">
            <ul id="chat-log">

            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input id="chat-message-input" type="text" placeholder="Write your message..."/>
                {#                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>#}
                <button id="chat-message-submit" class="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}

</div>

<script src="{% static 'js/room.js' %}"></script>
<script src="{% static 'js/reconnect.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var userId = {{ userId }};

    const container = document.getElementById('chat-log')

    $(document).ready(function () {
        $('#chat-log').stop().animate({
            scrollTop: $('#chat-log')[0].scrollHeight
        });
    });

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function (e) {
        fetchMessages();
    }

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {

            const messageArray = data['messages'].reverse();
            for (let i = 0; i < messageArray.length; i++) {
                createMessage(messageArray[i]);
            }
        } else if (data['command'] === 'new_message') {
            createMessage(data['message']);
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': userId
        }));

        messageInputDom.value = '';

        scrollToTop(10000)
    };

        function scrollToTop(scrollDuration) {
            var scrollStep = -window.scrollY / (scrollDuration / 15),
                scrollInterval = setInterval(function () {
                    if (window.scrollY !== 0) {
                        window.scrollBy(0, scrollStep);
                    } else clearInterval(scrollInterval);
                }, 15);
        }

        function fetchMessages() {
            chatSocket.send(JSON.stringify(
                {
                    'command': 'fetch_messages'
                }));
        }

        function createMessage(data) {
            var author = data['author'];
            var msgListTag = document.createElement('li');
            var imgTag = document.createElement('img');
            var pTag = document.createElement('p');
            pTag.textContent = data.message;
            imgTag.src = 'http://emilcarlsson.se/assets/mikeross.png';

            if (author === userId) {
                msgListTag.className = 'sent';
            } else {
                msgListTag.className = 'replies';
            }
            msgListTag.appendChild(imgTag);
            msgListTag.appendChild(pTag);
            document.querySelector('#chat-log').appendChild(msgListTag);
        }

</script>

</body>
</html>